In [1]:
import pandas as pd
import numpy as np

In [7]:
file = open('D:\\Users\\Qoo\\Desktop\\path_raw.txt', 'r')
d = file.read() # 把所有資料讀進來
#file.close() # 關閉檔案

In [10]:
from ast import literal_eval
d = literal_eval(d)
print type(d)

<type 'list'>

In [12]:
print len(d)

96

In [17]:
path = pd.concat(pd.DataFrame(d[i]) for i in range(0,len(d)))

In [36]:
path = path.reset_index(drop=True)

In [51]:
path_raw = pd.DataFrame(path['path'][i] for i in range(0, len(path)))

In [56]:
path = pd.concat([path, path_raw], axis=1)

In [59]:
path = path.iloc[:,[1,4,5,6,7]]

In [61]:
tp = ['NESAT','HAITANG','MEGI','MERANTI','MALAKAS','NEPARTAK','SOUDELOR',
'CHAN-HOM','DUJUAN','MATMO','FUNG-WONG','HAGIBIS']

In [63]:
path = path.loc[path.eName.isin(tp),:]

In [71]:
path.eName.value_counts()

CHAN-HOM     313
SOUDELOR     289
DUJUAN       241
MATMO        211
MALAKAS      205
NEPARTAK     199
MEGI         181
FUNG-WONG    175
MERANTI      169
NESAT        127
HAGIBIS      115
Name: eName, dtype: int64

In [75]:
path['typhoon'] = path['eName']
path.loc[path.eName =='NESAT','typhoon'] = 'NESATANDHAITANG'
path.loc[path.eName =='MERANTI','typhoon'] = 'MERANTIANDMALAKAS'
path.loc[path.eName =='MALAKAS','typhoon'] = 'MERANTIANDMALAKAS'

c:\python27\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\python27\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\python27\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\python27\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [77]:
path.typhoon.value_counts()

MERANTIANDMALAKAS    374
CHAN-HOM             313
SOUDELOR             289
DUJUAN               241
MATMO                211
NEPARTAK             199
MEGI                 181
FUNG-WONG            175
NESATANDHAITANG      127
HAGIBIS              115
Name: typhoon, dtype: int64

In [80]:
path = path.iloc[:,[6,1,2,3,4]]

In [82]:
path.to_csv('D:\\Users\\Qoo\\Desktop\\path_df.csv',index=False)

In [83]:
path.head()

     typhoon             datetime intensity lat     lon
804  HAGIBIS  2014-06-13 00:00:00        15  20     117
805  HAGIBIS  2014-06-13 01:00:00        15  20  116.92
806  HAGIBIS  2014-06-13 02:00:00        15  20  116.83
807  HAGIBIS  2014-06-13 03:00:00        15  20  116.75
808  HAGIBIS  2014-06-13 04:00:00        15  20  116.67